
{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% block content %}
  <h2>Blog</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt neque. Ut bibendum velit ac est semper vestibulum. Phasellus felis urna, gravida at porta non, auctor id ligula. In aliquam neque tincidunt lacus tristique lacinia. Praesent consectetur, erat nec viverra malesuada, felis eros hendrerit mi, mattis convallis tellus enim vel sem. Quisque ornare nunc non enim hendrerit, vitae sodales mauris ullamcorper. Cras risus libero, cursus nec ante eu, euismod convallis justo. Mauris lorem nulla, rutrum ut eros ac, rutrum ornare lacus. Nunc ac iaculis purus.</p>
  <p>Praesent tempor ut ligula semper venenatis. Nullam facilisis cursus gravida. In dapibus, dolor ut accumsan adipiscing, turpis velit malesuada leo, sed rhoncus ante nisl nec magna. Suspendisse potenti. Mauris convallis diam purus, nec tempus felis placerat ac. Pellentesque iaculis auctor porttitor. In rhoncus massa at pretium eleifend.</p>
{% endblock %}
